<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @comment_like.count %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment_like.comment_id %>
</p>

<%= link_to 'Edit', edit_comment_like_path(@comment_like) %> |
<%= link_to 'Back', comment_likes_path %>
