<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Birthday</th>
      <th>Url img</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Card</th>
      <th>Role</th>
      <th>Resend password token</th>
      <th>Resend password at</th>
      <th>Confirmation token</th>
      <th>Confirmation at</th>
      <th>Lock at</th>
      <th>Count lock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.birthday %></td>
        <td><%= user.url_img %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.address %></td>
        <td><%= user.gender %></td>
        <td><%= user.card_id %></td>
        <td><%= user.role %></td>
        <td><%= user.resend_password_token %></td>
        <td><%= user.resend_password_at %></td>
        <td><%= user.confirmation_token %></td>
        <td><%= user.confirmation_at %></td>
        <td><%= user.lock_at %></td>
        <td><%= user.count_lock %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
