<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Url img:</strong>
  <%= @user.url_img %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Card:</strong>
  <%= @user.card_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Resend password token:</strong>
  <%= @user.resend_password_token %>
</p>

<p>
  <strong>Resend password at:</strong>
  <%= @user.resend_password_at %>
</p>

<p>
  <strong>Confirmation token:</strong>
  <%= @user.confirmation_token %>
</p>

<p>
  <strong>Confirmation at:</strong>
  <%= @user.confirmation_at %>
</p>

<p>
  <strong>Lock at:</strong>
  <%= @user.lock_at %>
</p>

<p>
  <strong>Count lock:</strong>
  <%= @user.count_lock %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
